<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="resources">
        <link rel="stylesheet" href="/static/assets/global/plugins/datatables/datatables.css"/>
        <link rel="stylesheet"
              href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css"/>

        <script type="text/javascript" src="/static/assets/global/scripts/datatable.js"></script>
        <script type="text/javascript" src="/static/assets/global/plugins/datatables/datatables.js"></script>
        <script type="text/javascript"
                src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>
    </th:block>
</head>
</html>