<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<div class="modal-header ui-draggable-handle">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title" layout:fragment="modal-header">
        <i class="fa fa-tv font-blue-sharp"></i>
        <span class="caption-subject font-blue-sharp bold uppercase"></span>
    </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12" layout:fragment="modal-body">
        </div>
    </div>
</div>
<div class="modal-footer" layout:fragment="modal-footer">
</div>
</html>